@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
    font-family: 'Oswald', sans-serif;
}
#next {
    color: #fff;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
    cursor: anchor;
}
#theD {
    width: 550px;
    margin: 0 auto;
}
.fa-twitter {
    font-size: 35px;
    position: relative;
    top: 7px;
    color: #fff;
    float: right;
}
#quotebox {
    border-radius: 5px;
    width: 500px;
    background-color: #fff;
    margin: 25vh auto 20px;
    padding: 30px;
    p:first-child {
        font-size: 30px;
    }
}
